<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./../lib/jquery.js"></script>
  <link rel="icon" href="./../img/icon.JPG" sizes="32x32" />
  <link href="./../main.css" rel="stylesheet">
	<title>Beranda - Yudhistira Law Firm</title>
</head>
<body>
  <div class="container">
    <img src="./../img/icon.JPG" style="width: 6rem; height: auto;">
    <div class="navigation" style="align-items: center;">
      <div class="navigation-item active">Beranda</div>
      <div class="navigation-item" onclick="window.location.href='./layanan-kami.html'">Layanan Kami</div>
      <div class="navigation-item">Tim Kami</div>
      <div class="navigation-item">Hubungi Kami</div>
    </div>
    <div style="display: flex; align-items: center;">
      <div class="hubungi-kami">
        <div style="height: fit-content; ">0812-999-9999<br><p style="font-size: smaller; margin:auto">Mulai Konsultasi</p></div>
      </div>
    </div>
  </div>
  <div class="beranda-content">
    <div>
      <h1 id="beranda">Beranda</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consectetur nisl eu mollis tempor. Morbi cursus erat viverra, mollis turpis vitae, efficitur erat. Phasellus suscipit est nec orci hendrerit sodales. Proin pharetra vestibulum eros non feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque ut dolor massa. Pellentesque nec odio non justo vulputate interdum. Ut at augue quis ante vehicula finibus id at risus. Suspendisse vel iaculis neque. Aenean eget nulla ante. Pellentesque a libero dolor. Sed porta quis dolor quis sodales. Nulla lacinia arcu nec sagittis eleifend. Vestibulum in vulputate purus, at bibendum diam. Etiam blandit vestibulum ullamcorper. Quisque venenatis auctor congue. Donec placerat justo ac nisi tempus, posuere malesuada orci efficitur. Suspendisse lobortis elementum placerat.</p>
      <div class="hubungi-kami" style="width: fit-content;">
        <div style="height: fit-content; "><p style="font-size: smaller; margin:auto">Mulai Konsultasi</p></div>
      </div>
    </div>
    <div>
      <img src="./../img/foto.JPG" alt="foto" style="width: 200px; height: auto;">
    </div>
  </div>
</body>
<script src="./content.js"></script>
<style>
  .beranda-content{
    justify-content: space-around;
    display: flex;
  }
</style>
</html>