<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./../lib/jquery.js"></script>
  <link rel="icon" href="./../img/icon.JPG" sizes="32x32" />
  <link href="./../main.css" rel="stylesheet">
	<title>Beranda - Yudhistira Law Firm</title>
</head>
<body>
  <div class="container">
    <img src="./../img/icon.JPG" style="width: 6rem; height: auto;">
    <div class="navigation" style="align-items: center;">
      <div class="navigation-item" onclick="window.location.href='./index.html'">Beranda</div>
      <div class="navigation-item active">Layanan Kami</div>
      <div class="navigation-item">Tim Kami</div>
      <div class="navigation-item">Hubungi Kami</div>
    </div>
    <div style="display: flex; align-items: center;">
      <div class="hubungi-kami">
        <div style="height: fit-content; ">0812-999-9999<br><p style="font-size: smaller; margin:auto">Mulai Konsultasi</p></div>
      </div>
    </div>
  </div>
</body>
<script src="./content.js"></script>
<style>
</style>
</html>